In [27]:
import numpy as np
import pandas as pd
from composition_stats import clr
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [28]:
df = pd.read_csv('MOCK_DATA.csv')
df

,id,Sample_id,Long,Lat,Au,Cu,Fe,Ag,Zn
0,1,54838-136,-75.681663,6.788482,1.6653,6.0215,0.0912,0.0089,0.0346
1,2,50436-0324,103.638067,28.229112,2.8649,3.9327,2.6312,2.8109,1.9238
2,3,99207-850,124.028026,10.931849,2.2370,5.4692,0.3029,0.2003,1.9544
3,4,41520-210,30.298477,59.995964,0.7013,5.2435,4.6631,2.1110,0.0175
4,5,68957-1092,118.268101,31.219568,1.4117,8.1445,0.0331,1.4349,1.7364
...,...,...,...,...,...,...,...,...,...
95,96,55154-4428,1.581424,6.227277,0.3343,2.6001,0.4649,0.5983,0.7446
96,97,51824-042,20.804118,45.412376,3.9588,9.3472,2.9362,0.5452,0.7266
97,98,66336-187,120.729546,17.391179,4.8211,3.6627,1.3375,1.2002,1.6179
98,99,66715-9727,-81.218835,8.310295,2.5211,7.1104,2.7142,2.6351,1.4223
99,100,63505-005,12.028990,13.214392,4.0902,6.5095,2.0129,2.1223,1.8629

In [29]:
x = df.iloc[:,4:]
x

        Au      Cu      Fe      Ag      Zn
0   1.6653  6.0215  0.0912  0.0089  0.0346
1   2.8649  3.9327  2.6312  2.8109  1.9238
2   2.2370  5.4692  0.3029  0.2003  1.9544
3   0.7013  5.2435  4.6631  2.1110  0.0175
4   1.4117  8.1445  0.0331  1.4349  1.7364
..     ...     ...     ...     ...     ...
95  0.3343  2.6001  0.4649  0.5983  0.7446
96  3.9588  9.3472  2.9362  0.5452  0.7266
97  4.8211  3.6627  1.3375  1.2002  1.6179
98  2.5211  7.1104  2.7142  2.6351  1.4223
99  4.0902  6.5095  2.0129  2.1223  1.8629

[100 rows x 5 columns]

In [30]:
y = df.iloc[:,:4]

In [31]:
features = ['Au', 'Cu', 'Fe', 'Ag', 'Zn']
x_values = x.loc[:, features].values
x_values.shape

(100, 5)

In [32]:
x_norm = StandardScaler().fit_transform(x_values) # normalizing the features
x_norm.shape

(100, 5)

In [33]:
x_clr = clr(x_values)
x_clr.shape

(100, 5)

In [34]:
feat_cols = ['feature'+str(i) for i in range(x_norm.shape[1])]
feat_cols

['feature0', 'feature1', 'feature2', 'feature3', 'feature4']

In [35]:
normalised_df = pd.DataFrame(x_norm,columns=feat_cols)
normalised_df

    feature0  feature1  feature2  feature3  feature4
0  -0.659388  0.359031 -1.450496 -1.687623 -1.671028
1   0.207226 -0.382774  0.279701  1.541471  1.729660
2  -0.246381  0.162890 -1.306290 -1.467049  1.784742
3  -1.355800  0.082736  1.663790  0.734889 -1.701809
4  -0.842594  1.112982 -1.490073 -0.044266  1.392327
..       ...       ...       ...       ...       ...
95 -1.620928 -0.856027 -1.195939 -1.008384 -0.392980
96  0.997480  1.540102  0.487460 -1.069578 -0.425381
97  1.620422 -0.478661 -0.601542 -0.314740  1.179019
98 -0.041142  0.745737  0.336239  1.338874  0.826926
99  1.092406  0.532337 -0.141473  0.747911  1.620036

[100 rows x 5 columns]

In [36]:
transformed_df = pd.DataFrame(x_clr,columns=feat_cols)
transformed_df

    feature0  feature1  feature2  feature3  feature4
0   2.144998  3.430329 -0.759708 -3.086711 -1.728909
1   0.037112  0.353905 -0.047981  0.018083 -0.361119
2   0.730724  1.624720 -1.268764 -1.682351  0.595671
3  -0.263511  1.748298  1.630989  0.838470 -3.954246
4   0.355430  2.107978 -3.397587  0.371730  0.562449
..       ...       ...       ...       ...       ...
95 -0.752782  1.298484 -0.422999 -0.170729  0.048026
96  0.623510  1.482646  0.324686 -1.359033 -1.071810
97  0.807878  0.533076 -0.474322 -0.582636 -0.283995
98 -0.116494  0.920369 -0.042692 -0.072268 -0.688914
99  0.337380  0.802049 -0.371637 -0.318713 -0.449079

[100 rows x 5 columns]

In [37]:
pca = PCA(n_components=3)
principalComponents = pca.fit_transform(x_norm)

In [38]:
pca_clr = PCA(n_components=3)
principalComponents_clr = pca_clr.fit_transform(x_clr)

In [39]:
principal_Df = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2', 'principal component 3'])
principal_Df

    principal component 1  principal component 2  principal component 3
0               -0.535701              -1.709799              -0.541572
1                1.114786               1.007961               0.360899
2                0.934627               0.218884              -2.047102
3               -1.888976              -1.220542               1.083102
4                0.483062              -0.085023              -0.643415
..                    ...                    ...                    ...
95               0.406524              -2.118597              -1.045811
96              -1.352871               1.164232              -0.226019
97               1.470395               1.402074              -0.547622
98              -0.054701               0.780878               0.777251
99               0.836986               1.750717               0.129369

[100 rows x 3 columns]

In [40]:
principal_trans_Df = pd.DataFrame(data = principalComponents_clr
             , columns = ['principal component 1', 'principal component 2', 'principal component 3'])
principal_trans_Df

    principal component 1  principal component 2  principal component 3
0               -1.225253               1.899116               3.654557
1                0.437348              -0.462131              -0.461434
2                0.973459              -0.308065               2.190633
3               -2.898444               1.808227              -1.928684
4                2.636393               1.147938               1.396127
..                    ...                    ...                    ...
95               0.255003              -0.651836               0.175874
96              -0.816538               0.135167               0.947681
97               0.743343              -0.097735               0.391346
98              -0.019065              -0.142089              -0.245959
99               0.427094              -0.073348               0.142980

[100 rows x 3 columns]

In [41]:
print('Explained variation per principal component: {}'.format(pca.explained_variance_ratio_))

Explained variation per principal component: [0.28658469 0.20833756 0.20698202]

In [42]:
print('Explained variation per principal component for transformed data: {}'.format(pca_clr.explained_variance_ratio_))

Explained variation per principal component for transformed data: [0.37717461 0.23128418 0.21180307]

In [43]:
final_pca = y.join(principal_Df)
final_pca.to_csv('Final_Pca.csv')
final_pca

,id,Sample_id,Long,Lat,principal component 1,principal component 2,principal component 3
0,1,54838-136,-75.681663,6.788482,-0.535701,-1.709799,-0.541572
1,2,50436-0324,103.638067,28.229112,1.114786,1.007961,0.360899
2,3,99207-850,124.028026,10.931849,0.934627,0.218884,-2.047102
3,4,41520-210,30.298477,59.995964,-1.888976,-1.220542,1.083102
4,5,68957-1092,118.268101,31.219568,0.483062,-0.085023,-0.643415
...,...,...,...,...,...,...,...
95,96,55154-4428,1.581424,6.227277,0.406524,-2.118597,-1.045811
96,97,51824-042,20.804118,45.412376,-1.352871,1.164232,-0.226019
97,98,66336-187,120.729546,17.391179,1.470395,1.402074,-0.547622
98,99,66715-9727,-81.218835,8.310295,-0.054701,0.780878,0.777251
99,100,63505-005,12.028990,13.214392,0.836986,1.750717,0.129369

In [44]:
final_trans_pca = y.join(principal_trans_Df)
final_trans_pca.to_csv('Final_Trans_Pca.csv')
final_trans_pca

,id,Sample_id,Long,Lat,principal component 1,principal component 2,principal component 3
0,1,54838-136,-75.681663,6.788482,-1.225253,1.899116,3.654557
1,2,50436-0324,103.638067,28.229112,0.437348,-0.462131,-0.461434
2,3,99207-850,124.028026,10.931849,0.973459,-0.308065,2.190633
3,4,41520-210,30.298477,59.995964,-2.898444,1.808227,-1.928684
4,5,68957-1092,118.268101,31.219568,2.636393,1.147938,1.396127
...,...,...,...,...,...,...,...
95,96,55154-4428,1.581424,6.227277,0.255003,-0.651836,0.175874
96,97,51824-042,20.804118,45.412376,-0.816538,0.135167,0.947681
97,98,66336-187,120.729546,17.391179,0.743343,-0.097735,0.391346
98,99,66715-9727,-81.218835,8.310295,-0.019065,-0.142089,-0.245959
99,100,63505-005,12.028990,13.214392,0.427094,-0.073348,0.142980